################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Opdracht 2/__pycache__
/bin/Debug/net8.0
/obj
